Hi {{ first_name}}, thank  you for being a member. We are disappointed to see you go and hope to see you back in future. We will be refunding Rs {{ refund_amount }} to you as per the pro rata calculation, within 5-7 days