Dear {{first_name}},we have received the return request of your Ample order Id {{order_id}}. Your return will be picked up on {{pick_up_date}}. We'd love to hear from you on what we could have done better on care@buyample.com