Success! Dear {{first_name}} your order has been placed. You've saved Rs.{{order_savings}} on the order no. {{order_id}} worth Rs.{{net_total}}. It will be delivered in 48 hours. Thank you -Ample Wholesale