Success! Dear {{first_name}} your order has been placed. You've saved Rs.{{order_savings}} on the order no. {{order_id}} worth Rs.{{net_total}}. It will be delivered between {{from_time}} - {{to_time}} on {{delivery_date}}. Thank you -Ample Wholesale