Hi {{first_name}}, It looks like the payment of your order {{order_id}} did not go through as it should. You will be able to see this under the Pending Order section in Order History tab in your Ample app. Also, you can reach us at {{customer_care}} for any help with payments. 