Dear {{first_name}}}},we have received your returned product.Your refund of {{refund_amount}} has been initiated, you will receive it soon.To get in touch with us call {{customer_care}}. Happy Ample-ing!