<script type="text/javascript">
if(<%=@is_success %>){
	window.setTimeout(function(){

        // Move to a new location or you can do something else
        window.location.href = "<%= @redirection_page %>";

    }, 5000);
}
</script>
<html>
<h3><%= @message %> </h3>
</html>