<!DOCTYPE html>
{% comment %}
This Liquid Template is for redering Fill rate reports of Purchase order
{% endcomment %}
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <table class="deviceWidth" align="center" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse">
      <tr bgcolor="#ffffff">
        <td height="10" colspan="2"/>
      </tr>
      <tr>
        <td colspan="1" align="left">
          <p style="font-size:15px;line-height:16px;color:#000000;text-align:left;margin:5px 15px 5px 15px;font-weight:bold;"><font face="'Arial', Arial, Helvetica, sans-serif">{{ WAREHOUSE_NAME }}</font>
          </p>
          <p style="font-size:12px;line-height:5px;color:#000000;text-align:left;margin:5px 15px 5px 15px"><font face="'Arial', Arial, Helvetica, sans-serif"><br>{{ WAREHOUSE_ADDRESS_LINE_1 }}, {{ WAREHOUSE_ADDRESS_LINE_2 }}</font></p>
          <p style="font-size:12px;line-height:30px;color:#000000;text-align:left;margin:5px 15px 5px 15px"><font face="'Arial', Arial, Helvetica, sans-serif"><b style="font-weight: bold;">TIN/VAT: </b>
            {{ TIN_VAT_NUMBER }}
            </font>
          </p>
        </td>
        <td colspan="1" align="right">
          <a target="_blank" href="http://www.buyample.com" style="margin:5px 15px 5px 15px;text-align:right;">
          <img src="{{ IMLI_LOGO_BLACK }}" alt="Ample" title="Ample" style="border:none;"/>
          </a>
        </td>
      </tr>
    </table>
    <table class="deviceWidth" align="center" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse">
      <tr bgcolor="#000000" height="35">
        <td align="Left">
          <p style="line-height:18px;color:#fff;font-size:16px;margin:5px 15px 5px 15px;text-transform:uppercase;font-weight:bold;"><font face="'Arial', Arial, Helvetica, sans-serif"><b style="font-weight: bold;">Weekly Fill rate Report</b></font></p>
        </td>
      </tr>
    </table>
    </br>
    <table border="1" style="font-size: 12px;color: #000000;width: 640px;border-width: 1px;border-color: #000;border-collapse: collapse">
      <tr style="background-color: #fff">
        <th style="font-size: 12px;background-color: #fff;border-width: 1px;padding: 8px;border-style: solid;border-color: #000;text-align: left">Sr.no.</th>
        <th style="font-size: 12px;background-color: #fff;border-width: 1px;padding: 8px;border-style: solid;border-color: #000;text-align: left">Brand Pack Code</th>
        <th style="font-size: 12px;background-color: #fff;border-width: 1px;padding: 8px;border-style: solid;border-color: #000;text-align: left">Product name</th>
        <th style="font-size: 12px;background-color: #fff;border-width: 1px;padding: 8px;border-style: solid;border-color: #000;text-align: left">Distributor name</th>
        <th style="font-size: 12px;background-color: #fff;border-width: 1px;padding: 8px;border-style: solid;border-color: #000;text-align: left">Company name</th>
        <th style="font-size: 12px;background-color: #fff;border-width: 1px;padding: 8px;border-style: solid;border-color: #000;text-align: left">Department name</th>
        <th style="font-size: 12px;background-color: #fff;border-width: 1px;padding: 8px;border-style: solid;border-color: #000;text-align: left">Category name</th>
        <th style="font-size: 12px;background-color: #fff;border-width: 1px;padding: 8px;border-style: solid;border-color: #000;text-align: left">Sub category name</th>
        <th style="font-size: 12px;background-color: #fff;border-width: 1px;padding: 8px;border-style: solid;border-color: #000;text-align: left">Cumulative Quantity Ordered</th>
        <th style="font-size: 12px;background-color: #fff;border-width: 1px;padding: 8px;border-style: solid;border-color: #000;text-align: left">Cumulative Quantity Received</th>
        <th style="font-size: 12px;background-color: #fff;border-width: 1px;padding: 8px;border-style: solid;border-color: #000;text-align: left">Fill Rate (in %)</th>
      </tr>
      {% comment %}
      Looping over the products array to fetch the fields
      {% endcomment %}
      {% for product in products %}
        <tr style="background-color: #fff">
          <td style="font-size: 12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #000">{{ forloop.index }}
          </td>
          <td style="font-size: 12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #000">{{ product.bp_code }}
          </td>
          <td style="font-size: 12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #000">{{ product.sku }}
          </td>
          <td style="font-size: 12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #000">{{ product.distributor_name }}
          </td>
          <td style="font-size: 12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #000">{{ product.company_name }}
          </td>
          <td style="font-size: 12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #000">{{ product.department_name }}
          </td>
          <td style="font-size: 12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #000">{{ product.category_name }}
          </td>
          <td style="font-size: 12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #000">{{ product.sub_category_name }}
          </td>
          <td style="font-size: 12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #000">{{ product.cumulative_qty_ordered }}
          </td>
          <td style="font-size: 12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #000">{{ product.cumulative_qty_received }}<br/>
          </td>
          <td style="font-size: 12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #000">{{ product.fill_rate }}<br/>
          </td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>