<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Purchase Order</title>
  </head>
  <body style="margin: 0;padding: 0;-webkit-text-size-adjust: none;background-color: #ffffff;width: 100%;-webkit-font-smoothing: antialiased;font-family: &quot;Arial&quot;, sans-serif">
    <table width="100%" bgcolor="#ffffff" class="deviceWidth" align="center" cellpadding="0" cellspacing="0" style="border: none;font-family: &quot;Arial&quot;, sans-serif;font-weight: 300;color: #575757;font-size: 14px;">
      <tr bgcolor="#ffffff">
        <td>
          <table class="deviceWidth" align="center" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse">
            <tr bgcolor="#ffffff">
              <td height="10" colspan="2"/>
            </tr>
            <tr>
              <td colspan="1" align="left">
                <p style="font-size:15px;line-height:16px;color:#000000;text-align:left;margin:5px 15px 5px 15px;font-weight:bold;"><font face="'Arial', Arial, Helvetica, sans-serif">{{ WAREHOUSE_NAME }}</font>
                </p>
                <p style="font-size:12px;line-height:5px;color:#000000;text-align:left;margin:5px 15px 5px 15px"><font face="'Arial', Arial, Helvetica, sans-serif"><br>{{ WAREHOUSE_ADDRESS_LINE_1 }}, {{ WAREHOUSE_ADDRESS_LINE_2 }}</font></p>
                <p style="font-size:12px;line-height:30px;color:#000000;text-align:left;margin:5px 15px 5px 15px"><font face="'Arial', Arial, Helvetica, sans-serif"><b style="font-weight: bold;">TIN/VAT: </b>
                  {{ WAREHOUSE_TIN_NO }}
                  </font>
                </p>
              </td>
              <td colspan="1" align="right">
                <a target="_blank" href="http://www.buyample.com" style="margin:5px 15px 5px 15px;text-align:right;">
                <img src="{{ IMLI_LOGO_BLACK }}" alt="Ample" title="Ample" style="border:none;"/>
                </a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr bgcolor="#ffffff">
        <td height="2"/>
      </tr>
      <tr bgcolor="#ffffff">
      <td>
          <table class="deviceWidth" align="center" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse">
            <tr bgcolor="#000000">
              <td>
                <table class="deviceWidth" align="center" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse">
                  <tr bgcolor="#000000" height="35">
                    <td align="left">
                      <p style="line-height:18px;color:#fff;font-size:16px;margin:5px 15px 5px 15px;text-transform:uppercase;font-weight:bold;"><font face="'Arial', Arial, Helvetica, sans-serif"><b style="font-weight: bold;">Purchase Order: {{po_number}}</b></font></p>
                    </td>
                    <td align="right">
                      <p style="line-height:18px;color:#fff;font-size:16px;margin:5px 15px 5px 15px;"><font face="'Arial', Arial, Helvetica, sans-serif">Generated on: {{ po_date }}</font></p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            </table>
        </td>
    </tr>
      <tr bgcolor="#ffffff">
        <td>
          <table class="deviceWidth" align="center" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse">
                <tr bgcolor="#ffffff">
                    <td height="10" colspan="3"/>
                </tr>
                <tr>
                  <td colspan="1" align="left" width="50%">
                      <p style="font-size:14px;line-height:16px;color:#000000;text-align:left;margin:10px 15px 5px 15px;text-transform:uppercase;font-weight:bold;"><font face="'Arial', Arial, Helvetica, sans-serif"><b style="font-weight: bold;">Shipment Address</b></font></p>
                    </td>
                  <!-- <td colspan="1" align="left" width="33%">
                      <p style="font-size:14px;line-height:16px;color:#000000;text-align:left;margin:10px 15px 5px 15px;text-transform:uppercase;font-weight:bold;"><font face="'Arial', Arial, Helvetica, sans-serif"><b style="font-weight: bold;">Shipment Address</b></font></p>
                    </td> -->
                  <td colspan="1" align="left" width="50%">
                      <p style="font-size:14px;line-height:16px;color:#000000;text-align:right;margin:10px 15px 5px 15px;text-transform:uppercase;font-weight:bold;"><font face="'Arial', Arial, Helvetica, sans-serif"><b style="font-weight: bold;">Vendor Info</b></font></p>
                    </td>
                </tr>
                <tr>
                  <td width="50%">
                    <p style="font-size:10px;line-height:15px;color:#000000;text-align:left;margin:5px 15px;"><font face="'Arial', Arial, Helvetica, sans-serif">
                      {{ shipping_address.warehouse_name }}<br/>
                      {{ shipping_address.address_line1 }}<br/>
                      {{ shipping_address.address_line2 }}<br/>
                      {{ shipping_address.landmark }} {{ shipping_address.area }} <br/>
                      {{ shipping_address.city }} <br/>
                      {{ shipping_address.state }}-{{ shipping_address.pincode }}<br/>
                      {{ shipping_address.country }}</font>
                    </p>
                  </td>
                  <!-- <td width="33%">
                    <p style="font-size:10px;line-height:15px;color:#000000;text-align:left;margin:5px 15px;"><font face="'Arial', Arial, Helvetica, sans-serif">
                      {{ shipping_address.warehouse_name }}<br/>
                      {{ shipping_address.address_line1 }}<br/>
                      {{ shipping_address.address_line2 }}<br/>
                      {{ shipping_address.landmark }} {{ shipping_address.area }} <br/>
                      {{ shipping_address.city }} <br/>
                      {{ shipping_address.state }}-{{ shipping_address.pincode }}<br/>
                      {{ shipping_address.country }}</font></p>
                  </td> -->
                  <td width="50%">
                    <p style="font-size:10px;line-height:15px;color:#000000;text-align:right;margin:5px 15px;"><font face="'Arial', Arial, Helvetica, sans-serif">
                      {{ supplier_address.inventory_name }} (TIN No: {{supplier_tin_no}})<br/>
                      {{ supplier_address.address_line1 }}<br/>
                      {{ supplier_address.address_line2 }}<br/>
                      {{ supplier_address.landmark }} {{ supplier_address.area }} <br/>
                      {{ supplier_address.city }} <br/>
                      {{ supplier_address.state }}-{{ supplier_address.pincode }}<br/>
                      {{ supplier_address.country }}</font></p>
                  </td>
                </tr>
            </table>
        </td>
      </tr>
      <tr bgcolor="#ffffff">
        <td height="5" style="border-bottom:1px solid #000000;"/>
      </tr>
      <tr>
        <td valign="top">
          <table cellpadding="0" cellspacing="0" class="deviceWidth" width="100%" align="center" >
            <tr height="50">
              <th width="15"> </th>
              <th width="20" style="color:#000000;font-size:9px;text-transform:uppercase;font-weight:bold;" align="left"><font face="'Arial', Arial, Helvetica, sans-serif">S.No.</font></th>
              <th width="60" style="color:#000000;font-size:9px;text-transform:uppercase;font-weight:bold;" align="center"><font face="'Arial', Arial, Helvetica, sans-serif">BP Code</font></th>
              <th width="150" style="color:#000000;font-size:9px;text-transform:uppercase;font-weight:bold;" align="center"><font face="'Arial', Arial, Helvetica, sans-serif">SKU Code</font></th>
              <th width="220" style="color:#000000;font-size:9px;text-transform:uppercase;font-weight:bold;" align="center"><font face="'Arial', Arial, Helvetica, sans-serif">Description</font></th>
              <th width="50" style="color:#000000;font-size:9px;text-transform:uppercase;font-weight:bold;" align="right"><font face="'Arial', Arial, Helvetica, sans-serif">Mrp<i style="font-style:normal;font-size:7px; display:block;">in INR</i></font></th>
              {% if cp_optional == false %}
                <th width="80" style="color:#000000;font-size:9px;text-transform:uppercase;font-weight:bold;" align="right"><font face="'Arial', Arial, Helvetica, sans-serif">Cost<br>Price<i style="font-style:normal;font-size:7px; display:block;"> excl.VAT</i></font></th>
              {% endif %}
              <th width="40" style="color:#000000;font-size:9px;text-transform:uppercase;font-weight:bold;" align="right"><font face="'Arial', Arial, Helvetica, sans-serif">QTY<i style="font-style:normal;font-size:5px; display:block;">in each</i></font></th>
              <th width="40" style="color:#000000;font-size:9px;text-transform:uppercase;font-weight:bold;" align="right"><font face="'Arial', Arial, Helvetica, sans-serif">Tax<i style="font-style:normal;font-size:7px; display:block;">in %</i></font></th>
              {% if cp_optional == false %}
                <th width="60" style="color:#000000;font-size:9px;text-transform:uppercase;font-weight:bold;" align="right"><font face="'Arial', Arial, Helvetica, sans-serif">Net Landing Price<i style="font-style:normal;font-size:7px; display:block;">in Rs</i></font></th>
                <th width="60" style="color:#000000;font-size:9px;text-transform:uppercase;font-weight:bold;" align="right"><font face="'Arial', Arial, Helvetica, sans-serif">Tax<br>Value<i style="font-style:normal;font-size:7px; display:block;">in INR</i></font></th>
              {% endif %}
              {% if scheme_discount_present == 1 %}
                <th width="50" style="color:#000000;font-size:9px;text-transform:uppercase;font-weight:bold;" align="right"><font face="'Arial', Arial, Helvetica, sans-serif">Scheme Disc.<i style="font-style:normal;font-size:7px; display:block;">in %</i></font></th>
              {% endif %}
              {% if cp_optional == false %}
                <th width="85" style="color:#000000;font-size:9px;text-transform:uppercase;font-weight:bold;" align="center"><font face="'Arial', Arial, Helvetica, sans-serif">Total<br>Cost<br>Price<i style="font-style:normal;font-size:7px; display:block;">in INR</i></font></th>
                <th width="75" style="color:#000000;font-size:9px;text-transform:uppercase;font-weight:bold;" align="center"><font face="'Arial', Arial, Helvetica, sans-serif">Net Total<i style="font-style:normal;font-size:7px; display:block;">in INR</i></font></th>
              {% endif %}
              <th width="15"> </th>
            </tr>
            {% for product in products %}
            <tr>
              <td> </td>
              <td valign="top">
                <p style="font-size:8px;margin:3px 0 1px 0;text-align:left;"><font face="'Arial', Arial, Helvetica, sans-serif">{{ forloop.index }}</font></p>
              </td>
              <td valign="top">
                <p style="font-size:8px;margin:3px 0 1px 0;text-align:center;"><font face="'Arial', Arial, Helvetica, sans-serif">{{ product.brand_pack_code }}</font></p>
              </td>
              <td valign="top">
                <p style="font-size:8px;margin:3px 0 1px 0;text-align:left;"><font face="'Arial', Arial, Helvetica, sans-serif">{{ product.distributor_pack_code }}</font></p>
              </td>
              <td valign="top">
                <p style="color:#4a4a4a;line-height:10px;font-size:10px;margin:3px 0 1px 0;">
                  <font face="'Arial', Arial, Helvetica, sans-serif">{{ product.sku }}<br/>
                   <small>{% if product.retailer_pack != '1' %}{{product.retailer_pack}}x{% endif %}{{ product.sku_size }} {{ product.unit }}</small><br/></font>
                </p>
              </td>
              <td valign="top">
                <p style="font-size:8px;margin:3px 0 1px 0;text-align:right;"><font face="'Arial', Arial, Helvetica, sans-serif">{{ product.mrp  | format_as_money }}</font></p>
              </td>
              {% if cp_optional == false %}
                <td valign="top">
                  <p style="font-size:8px;margin:3px 0 1px 0;text-align:right;"><font face="'Arial', Arial, Helvetica, sans-serif">{{ product.cost_price  | format_as_money }}</font></p>
                </td>
              {% endif %}
              <td valign="top">
                <p style="font-size:8px;margin:3px 0 1px 0;text-align:right;"><font face="'Arial', Arial, Helvetica, sans-serif">{{ product.quantity }}</font></p>
              </td>
              <td valign="top">
                <p style="font-size:8px;margin:3px 0 1px 0;text-align:right;"><font face="'Arial', Arial, Helvetica, sans-serif">{{ product.tax }}</font></p>
              </td>
              {% if cp_optional == false %}
                <td valign="top">
                  <p style="font-size:8px;margin:3px 0 1px 0;text-align:right;"><font face="'Arial', Arial, Helvetica, sans-serif">{{ product.net_landing_price }}</font></p>
                </td>
                <td valign="top">
                  <p style="font-size:8px;margin:3px 0 1px 0;text-align:right;"><font face="'Arial', Arial, Helvetica, sans-serif">{{ product.tax_value }}</font></p>
                </td>
              {% endif %}
              {% if scheme_discount_present == 1 %}
                <td valign="top">
                  <p style="font-size:8px;margin:3px 0 1px 0;text-align:right;"><font face="'Arial', Arial, Helvetica, sans-serif">{{ product.scheme_discount }}</font></p>
                </td>
              {% endif %}
              {% if cp_optional == false %}
                <td valign="top">
                  <p style="font-size:8px;margin:3px 0 1px 0;text-align:center;"><font face="'Arial', Arial, Helvetica, sans-serif">{{ product.value | format_as_money }}</font></p>
                </td>
                <td valign="top">
                  <p style="font-size:8px;margin:3px 0 1px 0;text-align:center;"><font face="'Arial', Arial, Helvetica, sans-serif">{{ product.net_total | format_as_money }}</font></p>
                </td>
              {% endif %}
              <td></td>
            </tr>
            {% endfor %}
            <table cellpadding="0" cellspacing="0" class="deviceWidth" width="100%" align="center" style="border-top:1px solid #000000;">
              <tr height="35" style="border-top:1px solid #000000">
                <td width="15"></td>
                <td width="20" valign="top">
                  <p style="font-size:12px;margin:10px 0 10px 0;font-weight:bold;text-align:left;"><font face="'Arial', Arial, Helvetica, sans-serif">Total</font></p>
                </td>
                <td width="60"></td>
                <td width="150"></td>
                <td width="220"></td>
                <td width="50"></td>
                <td width="80"></td>
                <td width="240"></td>
                <td valign="top" width="40">
                  <p style="font-size:10px;margin:10px 0 10px 0;font-weight:bold;text-align:right;"><font face="'Arial', Arial, Helvetica, sans-serif">{{ total_quantity }}</font></p>
                </td>
                <td width="40"> </td>
                <td width="60"> </td>
                {% if cp_optional == false %}
                  <td valign="top" width="60">
                    <p style="font-size:10px;margin:10px 0 10px 0;font-weight:bold;text-align:right;"><font face="'Arial', Arial, Helvetica, sans-serif"></font>{{ total_tax  | format_as_money }}</p>
                  </td>
                {% endif %}
                {% if scheme_discount_present == 1 %}
              <td width="50"></td>
                {% endif %}
                {% if cp_optional == false %}
                  <td valign="top" width="85">
                    <p style="font-size:10px;margin:10px 0 10px 0;font-weight:bold;text-align:center;"><font face="'Arial', Arial, Helvetica, sans-serif">{{ total_cost_price  | format_as_money }}</font></p>
                  </td>
                  <td valign="top" width="75">
                    <p style="font-size:10px;margin:10px 0 10px 0;font-weight:bold;text-align:center;"><font face="'Arial', Arial, Helvetica, sans-serif">{{ grand_total  | format_as_money }}</font></p>
                  </td>
                {% endif %}
                <td width="15"> </td>
              </tr>
          </table>
          <table cellpadding="0" cellspacing="0" class="deviceWidth" width="100%" align="center" style="border-top:1px solid #000000;">

          {% if cp_optional == false %}
            {% assign trade_discount_value = trade_discount_value | plus: 0 %}
            {% if trade_discount_value > 0 %}
              <tr>
                <td width="15"></td>
                <td width="25"></td>
                <td width="75"></td>
                <td width="310"></td>
                <td width="75"></td>
                <td width="105"></td>
                <td width="75"></td>
                <td width="75"></td>
                <td width="75"></td>
                <td width="75"></td>
                <td valign="top" width="150">
                  <p style="color:#4a4a4a;font-size:11px;margin:10px 0 10px 0;font-weight:bold;"><font face="'Arial', Arial, Helvetica, sans-serif">Trade Discount: {{ trade_discount }}%</font></p>
                </td>
                <td valign="top" width="75">
                  <p style="color:#4a4a4a;font-size:12px;margin:10px 0 10px 0;font-weight:bold;text-align:center;"><font face="'Arial', Arial, Helvetica, sans-serif">-{{ trade_discount_value | format_as_money }}</font></p>
                </td>
                <td width="15"> </td>
              </tr>
              <tr bgcolor="#ffffff">
                <td height="10" colspan="7"/>
              </tr>
            {% endif %}
            {% assign total_octrai_tax = total_octrai_tax | plus: 0 %}
            {% if total_octrai_tax > 0 %}
              <tr>
                <td width="15"></td>
                <td width="25"></td>
                <td width="75"></td>
                <td width="310"></td>
                <td width="75"></td>
                <td width="105"></td>
                <td width="75"></td>
                <td width="75"></td>
                <td width="75"></td>
                <td width="75"></td>
                <td valign="top" width="150">
                  <p style="color:#4a4a4a;font-size:11px;margin:10px 0 10px 0;font-weight:bold;"><font face="'Arial', Arial, Helvetica, sans-serif">Total Octroi Rs.</font></p>
                </td>
                <td valign="top" width="75">
                  <p style="color:#4a4a4a;font-size:12px;margin:10px 0 10px 0;font-weight:bold;text-align:center;"><font face="'Arial', Arial, Helvetica, sans-serif">{{ total_octrai_tax | format_as_money }}</font></p>
                </td>
                <td width="15"> </td>
              </tr>
              <tr bgcolor="#ffffff">
                <td height="10" colspan="7"/>
              </tr>
            {% endif %}
            <tr>
                <td width="15"></td>
                <td width="25"></td>
                <td width="75"></td>
                <td width="310"></td>
                <td width="75"></td>
                <td width="105"></td>
                <td width="75"></td>
                <td width="75"></td>
                <td width="75"></td>
                <td width="75"></td>
                <td valign="top" width="150">
                  <p style="color:#4a4a4a;font-size:11px;margin:10px 0 10px 0;font-weight:bold;"><font face="'Arial', Arial, Helvetica, sans-serif">Grand Total Rs.<br/>(inclusive of all taxes)</font></p>
                </td>
              {% assign total_octrai_tax = total_octrai_tax | plus: 0 %}
              {% if total_octrai_tax > 0 %}
                <td align="top" style="border-top:1px solid #000000;">
                  <p style="color:#4a4a4a;font-size:16px;margin:10px 0 10px 0;font-weight:bold; text-align:center; vertical-align:top;"><font face="'Arial', Arial, Helvetica, sans-serif">{{net_total | format_as_money }}</font></p>
                </td>
              {% else %}
                <td align="top">
                  <p style="color:#4a4a4a;font-size:16px;margin:10px 0 10px 0;font-weight:bold; text-align:center; vertical-align:top;"><font face="'Arial', Arial, Helvetica, sans-serif">{{net_total | format_as_money }}</font></p>
                </td>
              {% endif %}
              <td> </td>
            </tr>
        {% endif %}
        </table>
        </td>
      </table>
      </tr>
      <table class="deviceWidth" align="center" cellpadding="0" cellspacing="0" width="100%" style="border-top:1px solid #000000;">
        <tr bgcolor="#ffffff">
          <td height="10" colspan="2"/>
        </tr>
        <tr>
          <td colspan="1" align="left">
            <p style="font-size:10px;line-height:16px;color:#000000;text-align:left;margin:5px 15px 5px 15px;font-weight:bold;"><font face="'Arial', Arial, Helvetica, sans-serif">TERMS & CONDITIONS</font>
              <ul style="font-size:12px;">
                <li>This is a computer generated document. It does not require any signature.</li>
                <li>Invoice should carry the same cost price, MRP as per P.O; Any changes must be informed in advance.</li>
                <li>Paper copy of the P.O & original invoice to be carried during delivery of goods.</li>
                <li>Please mention P.O number on the invoice.</li>
                <li>Each P.O should be serviced by one vendor invoice only.</li>
                <li>Material should have barcodes which can be scanned.</li>
                <li><b>Balance Shelf Life shouldn't be less than 75% for Food Products & 60% for Non-Food Products.</b></li>
                <li>Vendor should make own arrangements for off-loading at Imli Technology’s DC.</li>
                <li>Imli Technology will provide acknowledgement only for the quantity accepted by our DC.</li>
              </ul>
            </p>
            <p style="font-size:12px;line-height:16px;color:#000000;text-align:left;margin:5px 15px 5px 15px;font-weight:bold;"><font face="'Arial', Arial, Helvetica, sans-serif">P.O generated by Imli technology Pvt. Ltd.</font>
            </p>
          </td>
          <tr bgcolor="#ffffff">
            <td height="2"/>
          </tr>
        </tr>
      </table>
    </table>
  </body>
</html>
