<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-I">
  <title>Paytm</title>
  <script type="text/javascript">
    function response(){
      return document.getElementById('response').value;
    }
  </script>
</head>
<body>
  <p style="margin-top: 200px;" align="center">Hold on tight. We're confirming the status of the payment...</p>
<br>
  <form name="frm" method="post">
    <input type="hidden" id="response" name="responseField" value="<%= @encoded_json %>">
  </form>
</body>
</html>