<!DOCTYPE html>
{% comment %}
This Liquid Template is for redering mailing template for aggregated orders
{% endcomment %}
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1 style="font-style: normal; font-weight: 500; font-family: lato,tahoma,sans-serif; margin-bottom: 0px; margin-top: 0px; font-size: 24px; line-height: 32px; color: #000000; text-align: center;">Aggregated Product Requirements</h1>

    <h2 style="font-style: normal; font-weight: 300; font-family: lato,tahoma,sans-serif; margin-bottom: 0px; margin-top: 0px; font-size: 18px; line-height: 20px; color: #000000; text-align: center;">Time Period: {{ from_time }} to {{ till_time }}</h2><br/><br/>

    {% if aggregated_products == blank %}
      <p style="font-style: normal; font-weight: 400; font-family: lato,tahoma,sans-serif; margin-bottom: 24px; margin-top: 0px; font-size: 15px; line-height: 24px; color: #60666D">
        No products to be packed for this time period :(</p>

    {% else %}

      {% for aggregated_products_by_category in aggregated_products %}
        <p style="font-size: 14px;"><b>Category: {{ aggregated_products_by_category[0] }}-</b></p>
        <table class="tftable" border="1" style="font-size: 12px;color: #000000;width: 100%;border-width: 1px;border-color: #000000;border-collapse: collapse">
          <tr style="background-color: #ffffff">
            <th style="font-size: 12px;background-color: #ffffff;border-width: 1px;padding: 8px;border-style: solid;border-color: #000000;text-align: left">Sr.no.</th>
            <th style="font-size: 12px;background-color: #ffffff;border-width: 1px;padding: 8px;border-style: solid;border-color: #000000;text-align: left">BP Code</th>
            <th style="font-size: 12px;background-color: #ffffff;border-width: 1px;padding: 8px;border-style: solid;border-color: #000000;text-align: left">Name</th>
            <th style="font-size: 12px;background-color: #ffffff;border-width: 1px;padding: 8px;border-style: solid;border-color: #000000;text-align: left">MRP</th>
            <th style="font-size: 12px;background-color: #ffffff;border-width: 1px;padding: 8px;border-style: solid;border-color: #000000;text-align: left">Pack Size</th>
            <th style="font-size: 12px;background-color: #ffffff;border-width: 1px;padding: 8px;border-style: solid;border-color: #000000;text-align: left">Total required</th>
            <th style="font-size: 12px;background-color: #ffffff;border-width: 1px;padding: 8px;border-style: solid;border-color: #000000;text-align: left">Total available</th>
            <th style="font-size: 12px;background-color: #ffffff;border-width: 1px;padding: 8px;border-style: solid;border-color: #000000;text-align: left">JIT amount</th>
          </tr>
          {% comment %}
          Looping over the aggregated_products array to fetch the fields
          {% endcomment %}

          {% for aggregated_product in aggregated_products_by_category[1] %}
            <tr style="background-color: #ffffff">
              <td width="5" style="font-size: 12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #000000"><b>{{ forloop.index }}</b>
              </td>
              <td width="10" style="font-size: 12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #000000"><b>{{ aggregated_product.brand_pack_code }}</b>
              </td>
              <td width="200" style="font-size: 12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #000000"><b>{{ aggregated_product.display_name }}</b>
              </td>
              <td width="10" style="font-size: 12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #000000"><b>Rs.{{ aggregated_product.mrp }}</b>
              </td>
              {% assign aggregated_product_retail_pack_size = aggregated_product.retail_pack_size | plus: 0 %}
              {% if aggregated_product_retail_pack_size > 1 %}
                <td width="50" style="font-size: 12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #000000">
                  <b>{{aggregated_product.retail_pack_size}} x {{ aggregated_product.sku_size }} {{ aggregated_product.unit }}</b>
                </td>
              {% else %}
                <td width="50" style="font-size: 12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #000000">
                  <b>{{ aggregated_product.sku_size }} {{ aggregated_product.unit }}</b>
                </td>
              {% endif %}
              <td width="10" style="font-size: 12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #000000"><b>{{ aggregated_product.units_to_procure }}</b>
              </td>
              <td width="10" style="font-size: 12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #000000"><b>{{ aggregated_product.available }}</b>
              </td>
              <td width="10" style="font-size: 12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #000000"><b>{{ aggregated_product.jit_count }}</b>
              </td>
            </tr>
          {% endfor %}
        </table>
      {% endfor %}

      <br/><br/><br/><br/><br/>
      <p><b>_____________________________</b></p>
      <p style="font-size: 12px;color: #000000;width: 640px;"><b><i>Shopper Name & Signature</i></b></b></p>
      {% comment %}
      Looping over the placed_orders_minimal_details array to fetch the order_ids
      {% endcomment %}
      <br/><br/>
      <hr/>
      <p style="font-size: 14px;"><b>This aggregation is for Order IDs:</b><br/><br/>
        {% for placed_order in placed_orders_minimal_details %}
          {{ placed_order.order_id }} ,
        {% endfor %}
      </p>
    {% endif %}
  </body>
</html>
