<!DOCTYPE html>
{% comment %}
This Liquid Template is for redering mailing template for pending users List
{% endcomment %}
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <img style="display: block; text-align: center; width: 640px;" src="https://s3-ap-southeast-1.amazonaws.com/s3.buyample.production/public/header.png" alt="http://buyample.com"><br/>
    <h1 style="font-style: normal; font-weight: 650; font-family: lato,tahoma,sans-serif; margin-bottom: 0px; margin-top: 0px; font-size: 24px; line-height: 32px; color: #44A8C7; text-align: left;">All Pending users</h1>
    
    <p style="font-style: normal; ont-weight: 400; font-family: lato,tahoma,sans-serif; margin-bottom: 24px; margin-top: 0px; font-size: 15px; line-height: 24px; color: #60666D">
      Hello {{ to_name }},<br/>

      List of all the Users in pending state, awaiting activation.</p>
    </br>
    
    <table border="1" style="font-size: 12px;color: #333;width: 640px;border-width: 1px;border-color: #729ea5;border-collapse: collapse">
      <tr style="background-color: #fff">
        <th style="font-size: 12px;background-color: #acc8cc;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align: left">Sr.no.</th>
        <th style="font-size: 12px;background-color: #acc8cc;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align: left">User ID</th>
        <th style="font-size: 12px;background-color: #acc8cc;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align: left">Phone Number</th>
      </tr>
      {% comment %}
      Looping over the users array to fetch the fields
      {% endcomment %}
      {% for user in users %}
        <tr style="background-color: #fff">
          <td style="font-size: 12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5">{{ forloop.index }}
          </td>
          <td style="font-size: 12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5">{{ user.id }}
          </td>
          <td style="font-size: 12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5">{{ user.phone_number }}
          </td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>