<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Buy Ample</title>
  </head>
  <body style="margin: 0;padding: 0;-webkit-text-size-adjust: none;background-color: #E0E0E0;width: 100%;-webkit-font-smoothing: antialiased;font-family: &quot;Arial&quot;, sans-serif">
  <table width="640" bgcolor="#E0E0E0" border="0" class="deviceWidth" align="center" cellpadding="0" cellspacing="0" style="border: 1px solid #e0e0e0;font-family: &quot;Arial&quot;, sans-serif;font-weight: 300;color: #575757;font-size: 14px;border-collapse: collapse">
    <tr bgcolor="#ffffff">
        <td height="5"/>
      </tr>
      <tr bgcolor="#ffffff">
        <td colspan="1" align="center" style="text-align: center;">
          <a target="_blank" href="{{ BUYAMPLE_HOMEPAGE }}" style="margin:10px 10px 10px 10px;text-align:center;padding: 2px;">
            <img src="{{ AMPLE_PURPLE_LOGO_HIGH_RESOLUTION }}" alt="Ample" title="Ample" style="border:none;" width="90"/>
          </a>
        </td>
      </tr>
      <tr bgcolor="#ffffff">
        <td height="40"/>
      </tr>
      <tr bgcolor="#ffffff">
          <td align="center">
            <img src="{{plan_image}}" alt="Plan" title="" style="width:50%;" />
          </td>
      </tr>
    <tr bgcolor="#ffffff">
        <td align="center">
            <p style="color:#4b0082;font-size:26px;font-weight:400;margin:0 10px 5px 10px;text-align:center;font-family: lato,tahoma,sans-serif;">Your {{ plan_name }} membership is about to expire!</p>
          </td>
      </tr>
      <tr bgcolor="#ffffff">
        <td height="10"/>
      </tr>
      <tr bgcolor="#E0E0E0">
        <td height="5"/>
      </tr>
      <tr bgcolor="#ffffff">
        <td align="center">
            <table align="left" width="100%" cellpadding="0" cellspacing="0" border="0" class="deviceWidth" style="border-collapse: collapse">
                <tr>
                    <td height="10"/>
                  </tr>
                  <tr>
                    <td style="text-align:left;">
                  <p style="font-size:12px;line-height:16px;color:#4a4a4a;text-align:left;margin:10px;font-family: lato,tahoma,sans-serif;padding:15px;">Hi {{to_first_name}},<br/><br/>
                    Thanks for shopping with us. Ample is a membership club. The membership fees helps cover part of our operating costs and further reduce prices. Your {{ plan_name }} plan gets over on {{ expires_at }}. Post the expiry date, You will get the option to upgrade to our paid membership plans during checkout, the next time you shop at Ample. You can also checkout our plans at <a href="www.buyample.com/membership" title="" style="color:#da3f58;text-decoration:none;">www.buyample.com/membership</a>
                  </p>
                      </td>
                  </tr>
                  <tr>
                    <td height="5"/>
                  </tr>

                  <tr>
                    <td colspan="3" height="25"/>
                  </tr>
              </table>
          </td>
      </tr>
      <tr bgcolor="#E0E0E0">
        <td height="5"/>
      </tr>
      <tr bgcolor="#ffffff">
        <td height="10"/>
      </tr>
      <tr bgcolor="#ffffff">
        <td align="center">
            <p style="font-size:12px;margin:0 10px;color:#9b9b9b;line-height:18px;"><font face="'Arial', Arial, Helvetica, sans-serif"><a href="http://www.buyample.com" style="color:#9b9b9b; text-decoration:none;" title="" target="_blank">Ample Wholesale</a> is a trademark of Imli Technology Pvt Ltd. All rights Reserved. 2016</font></p>
            <p style="font-size:12px;margin:0 10px;color:#9b9b9b;line-height:18px;"><font face="'Arial', Arial, Helvetica, sans-serif">For any queries, contact us at <a href="mailto:customerfirst@buyample.com" title="" style="color:#da3f58;text-decoration:none;">customerfirst@buyample.com</a></font></p>
          </td>
      </tr>
      <tr bgcolor="#ffffff">
        <td height="10"/>
      </tr>
      <tr bgcolor="#E0E0E0">
        <td height="5"/>
      </tr>
      <tr bgcolor="#ebebeb">
        <td height="10"/>
      </tr>
      <tr bgcolor="#ebebeb">
          <td bgcolor="#ebebeb" align="center">
            <table align="center" width="80" style="border-collapse: collapse">
              <tr>
                <td>
                  <a href="{{ TWITTER_URL }}"><img src='{{ TWITTER_PURPLE_ICON }}' alt="" title=""/></a>
                </td>
                <td width="10"> </td>
                <td>
                  <a href="{{ FACEBOOK_URL }}"><img src='{{ FACEBOOK_PURPLE_ICON }}' alt="" title=""/></a>
                </td>
                <td width="10"> </td>
                <td>
                  <a href="{{ INSTAGRAM_URL }}"><img src='{{ INSTAGRAM_PURPLE_ICON }}' alt="" title=""/></a>
                </td>
              </tr>
            </table>
          </td>
      </tr>
  </table>
  </body>
</html>
