<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Buy Ample - Invoice</title>
  </head>
  <body style="margin: 0;padding: 0;-webkit-text-size-adjust: none;background-color: #FFFFFF;width: 100%;-webkit-font-smoothing: antialiased;font-family: &quot;Arial&quot;, sans-serif">
    <table width="640" bgcolor="#E0E0E0" border="0" class="deviceWidth" align="center" cellpadding="0" cellspacing="0" style="border: 1px solid #e0e0e0;font-family: &quot;Arial&quot;, sans-serif;font-weight: 300;color: #575757;font-size: 14px;border-collapse: collapse">
      <tr bgcolor="#ffffff">
        <td>
          <table class="deviceWidth" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse">
            <tr bgcolor="#ffffff">
              <td height="10" colspan="2"/>
            </tr>
            <tr>
              <td colspan="1" align="left" style="text-align: left;">
                <a target="_blank" href="{{ BUYAMPLE_HOMEPAGE }}" style="margin:5px 15px 5px 15px;text-align:left;padding: 2px;">
                  <img src="{{ AMPLE_PURPLE_LOGO_HIGH_RESOLUTION }}" alt="Ample" title="Ample" style="border:none;" width="90"/>
                </a>
              </td>
              <td colspan="1" align="right" style="text-align: right;">
                <p style="font-size:12px;line-height:16px;color:#000000;text-align:right;margin:5px 15px 5px 15px"><font face="'Arial', Arial, Helvetica, sans-serif">{{ order_date }}</font></p>
                <p style="font-size:15px;line-height:15px;color:#000000;text-align:right;margin:5px 15px 5px 15px"><font face="'Arial', Arial, Helvetica, sans-serif"><b style="font-weight: bold;">{{ order_id }}</b></font></p>
                {% if order.preferred_slot.is_preferred_slot_present == true %}
                  <p style="font-size:12px;line-height:15px;color:#000000;text-align:right;margin:5px 15px 5px 15px"><font face="'Arial', Arial, Helvetica, sans-serif"><b style="font-weight: bold;">Delivery Schedule:</b> {{order.preferred_slot.slot_date}} ({{order.preferred_slot.time_slot.from_time}} to {{order.preferred_slot.time_slot.to_time}})</font></p>
                {% endif %}
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr bgcolor="#E0E0E0">
        <td height="2"/>
      </tr>
      <tr bgcolor="#ffffff">
        <td>
          <table class="deviceWidth" align="center" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse">
            <tr bgcolor="#ffffff">
              <td height="10" colspan="2"/>
            </tr>
            <tr>
              <td colspan="1" align="left">
                <p style="font-size:10px;line-height:10px;color:#b6b6b6;text-align:left;margin:5px 15px 5px 15px;text-transform:uppercase;font-weight:bold;"><font face="'Arial', Arial, Helvetica, sans-serif">Billed To</font></p>
              </td>
              <td colspan="1" align="right">
                <p style="font-size:10px;line-height:10px;color:#b6b6b6;text-align:right;margin:5px 15px 5px 15px;text-transform:uppercase;font-weight:bold;"><font face="'Arial', Arial, Helvetica, sans-serif">Billing Address</font></p>
              </td>
            </tr>
            <tr>
              <td valign="top">
                <p style="font-size:12px;line-height:12px;color:#000000;text-align:left;margin:5px 15px;"><font face="'Arial', Arial, Helvetica, sans-serif">
                  {{ user.first_name }}<br/></font>
                </p>
                <p style="font-size:12px;line-height:12px;color:#000000;text-align:left;margin:5px 15px;"><font face="'Arial', Arial, Helvetica, sans-serif"><b style="font-weight: bold;">Phone:</b> +91-{{ user.phone_number }}</font></p>
                <p style="font-size:12px;line-height:12px;color:#000000;text-align:left;margin:5px 15px;"><font face="'Arial', Arial, Helvetica, sans-serif"><b style="font-weight: bold;">Email:</b> {{ email_id }}</font></p>
              </td>
              <td valign="top">
                <p style="font-size:12px;line-height:15px;color:#000000;text-align:right;margin:5px 15px;"><font face="'Arial', Arial, Helvetica, sans-serif">
                  {{ address.address_line1 }}<br/>
                  {{ address.address_line2 }}<br/>
                  {{ address.landmark }}<br/>
                  <!-- {{ address.landmark }} {{ address.area }} <br/> -->
                  {{ address.city }} {{ address.pincode }}, {{ address.state }}
                  </font>
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr bgcolor="#E0E0E0">
        <td height="2"/>
      </tr>
      <tr bgcolor="#ffffff">
        <td style="padding: 5px">
          <table class="deviceWidth" align="center" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse">
            <tr height="30" align="center">
              <th width="33%" style="color:#9b9b9b;font-size:12px;" align="center"><font face="'Arial', Arial, Helvetica, sans-serif">TOTAL VALUE</font></th>
              <th width="33%" style="color:#9b9b9b;font-size:12px;" align="center"><font face="'Arial', Arial, Helvetica, sans-serif"><b style="font-weight: bold;">PAID</font></th>
              <th width="33%" style="color:#9b9b9b;font-size:12px;" align="center"><font face="'Arial', Arial, Helvetica, sans-serif"><b style="font-weight: bold;">{{invoice_payment_hash.due_hash.label}}</font></th>
            </tr>
            <tr height="30">
              <td width="33%" align="center" valign="top" style="color:#4a4a4a;font-size:15px;"><b style="font-weight: bold;">Rs.{{ invoice_payment_hash.total }}</b></td>
              <td width="33%" align="center" valign="top" style="color:#4a4a4a;font-size:15px;"><b style="font-weight: bold;">Rs.{{ invoice_payment_hash.paid }}</b></td>
              <td width="33%" align="center" valign="top" style="color:#4a4a4a;font-size:15px;"><b style="font-weight: bold;">Rs.{{invoice_payment_hash.due_hash.amount}}</b></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr bgcolor="#4b0082">
        <td>
          <table class="deviceWidth" align="center" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse">
            <tr bgcolor="#4b0082">
              <td height="56" align="center">
                <p style="line-height:18px;color:#fff;font-size:12px;margin:10px 0 0 0;text-transform:uppercase;"><font face="'Arial', Arial, Helvetica, sans-serif">Your Savings Today</font></p>
                <h1 style="line-height:24px;color:#fff;font-size:24px;margin:5px 0px 10px 0;"><font face="'Arial', Arial, Helvetica, sans-serif">Rs.{{payment.total_savings}}</font></h1>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr bgcolor="#ffffff">
        <td valign="top">
          <table cellpadding="0" cellspacing="0" border="0" class="deviceWidth" width="100%" align="center" style="border-collapse: collapse">
            <tr style="border-bottom:1px solid #b6b6b6;" height="50">
              <th width="15"> </th>
              <th width="310" style="color:#b6b6b6;font-size:10px;" align="left"><font face="'Arial', Arial, Helvetica, sans-serif">Description</font></th>
              <th width="75" style="color:#b6b6b6;font-size:10px;" align="center"><font face="'Arial', Arial, Helvetica, sans-serif">Qty</font></th>
              <th width="75" style="color:#b6b6b6;font-size:10px;" align="center"><font face="'Arial', Arial, Helvetica, sans-serif">MRP<i style="font-style:normal;font-size:10px; display:block;">in Rs.</i></font></th>
              <th width="75" style="color:#4b0082;font-size:10px;" align="center"><font face="'Arial', Arial, Helvetica, sans-serif">Savings<i style="font-style:normal;font-size:10px; display:block;">in Rs.</i></font></th>
              <th width="75" style="color:#b6b6b6;font-size:10px;" align="center"><font face="'Arial', Arial, Helvetica, sans-serif">Final Price<i style="font-style:normal;font-size:10px; display:block;">in Rs.</i></font></th>
              <th width="15"> </th>
            </tr>
            {% for product in products %}
            <tr>
              <td> </td>
              <td valign="top">
                <p style="color:#4a4a4a;line-height:10px;font-size:10px;margin:3px 0 1px 0;">
                  <font face="'Arial', Arial, Helvetica, sans-serif">{{ product.display_name }}<br/>
                  <i style="color:#727272;font-size:8px;font-style:normal">{{ product.display_pack_size}}</i></font>
                </p>
              </td>
              <td valign="top">
                <p style="font-size:8px;margin:3px 0 1px 0;text-align:center;"><font face="'Arial', Arial, Helvetica, sans-serif">{{ product.quantity }}</font></p>
              </td>
              <td valign="top">
                <p style="font-size:8px;margin:3px 0 1px 0;text-align:center;"><font face="'Arial', Arial, Helvetica, sans-serif">{{ product.total_mrp  | format_as_money }}</font></p>
              </td>
              <td valign="top">
                <p style="color:#4b0082;font-size:8px;margin:3px 0 1px 0;text-align:center;"><font face="'Arial', Arial, Helvetica, sans-serif">-{{ product.final_savings | format_as_money }}</font></p>
              </td>
              <td valign="top">
                <p style="font-size:8px;margin:3px 0 1px 0;text-align:center;"><font face="'Arial', Arial, Helvetica, sans-serif">{{ product.final_price | format_as_money }}</font></p>
              </td>
              <td> </td>
            </tr>
            {% endfor %}
            <tr style="border-top:1px solid #b6b6b6;" height="35">
              <td> </td>
              <td valign="top">
                <p style="font-size:12px;margin:10px 0 10px 0;text-align:left;"><font face="'Arial', Arial, Helvetica, sans-serif">Total</font></p>
              </td>
              <td valign="top">
                <p style="font-size:10px;margin:10px 0 10px 0;font-weight:bold;text-align:center;"><font face="'Arial', Arial, Helvetica, sans-serif">{{ cart.total_products }}</font></p>
              </td>
              <td valign="top">
                <p style="font-size:10px;margin:10px 0 10px 0;font-weight:bold;text-align:center;"><font face="'Arial', Arial, Helvetica, sans-serif">{{ cart.stats.total_mrp  | format_as_money }}</font></p>
              </td>
              <td valign="top">
                <p style="color:#3a355e;font-size:10px;margin:10px 0 10px 0;font-weight:bold;text-align:center;"><font face="'Arial', Arial, Helvetica, sans-serif">-{{ cart.stats.cart_savings  | format_as_money }}</font></p>
              </td>
              <td valign="top">
                <p style="font-size:10px;margin:10px 0 10px 0;font-weight:bold;text-align:center;"><font face="'Arial', Arial, Helvetica, sans-serif">{{ cart.stats.cart_total  | format_as_money }}</font></p>
              </td>
              <td> </td>
            </tr>
            <!-- Savings on Payment Mode
              <tr>
                <td> </td>
                  <td/>
                  <td colspan="3" align="right"><p style="color:#3a355e;font-size:11px;margin:10px 0 10px 0;font-weight:bold;"><font face="'Arial', Arial, Helvetica, sans-serif">Saved 1% Extra on Debit card payment Rs.</font></p></td>
                  <td align="right"><p style="color:#3a355e;font-size:12px;margin:10px 0 10px 0;font-weight:bold;"><font face="'Arial', Arial, Helvetica, sans-serif">-62.00</font></p></td>
                  <td> </td>
              </tr>
              -->
              <tr style="border-bottom:1px solid #b6b6b6;" height="5">
                <td> </td>
                <td valign="top">
                  <p style="font-size:12px;margin:0 0 10px 0;text-align:left;"><font face="'Arial', Arial, Helvetica, sans-serif">Delivery Charges</font></p>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td valign="top">
                  <p style="font-size:10px;margin:0 0 10px 0;font-weight:bold;text-align:center;"><font face="'Arial', Arial, Helvetica, sans-serif">{{ payment.delivery_charges | format_as_money }}</font></p>
                </td>
                <td> </td>
              </tr>

            <!-- Total Taxes paid
              <tr>
                <td> </td>
                  <td/>
                  <td colspan="3" align="right"><p style="color:#3a355e;font-size:11px;margin:10px 0 10px 0;font-weight:bold;"><font face="'Arial', Arial, Helvetica, sans-serif">Total Taxes Paid Rs.</font></p></td>
                  <td align="right"><p style="color:#3a355e;font-size:12px;margin:10px 0 10px 0;font-weight:bold;"><font face="'Arial', Arial, Helvetica, sans-serif">385.00</font></p></td>
                  <td> </td>
              </tr>
              -->
            {% if extras.membership.is_membership_ordered == true %}
              <tr height="10">
                <tr valign="top" align="left" style="text-align: left; margin:5px 0 10px 0;text-align:center;">
                  <td></td>
                  <th style="color:#000000;font-size:12px;margin:5px 0 10px 0;text-align:left; border-bottom:1px solid #b6b6b6;"><font face="'Arial', Arial, Helvetica, sans-serif">Extras</font></th>
                  <td style="color:#000000;font-size:12px;margin:5px 0 10px 0;text-align:left; border-bottom:1px solid #b6b6b6;"></td>
                  <td style="color:#000000;font-size:12px;margin:5px 0 10px 0;text-align:left; border-bottom:1px solid #b6b6b6;"></td>
                  <td style="color:#000000;font-size:12px;margin:5px 0 10px 0;text-align:left; border-bottom:1px solid #b6b6b6;"></td>
                  <td style="color:#000000;font-size:12px;margin:5px 0 10px 0;text-align:left; border-bottom:1px solid #b6b6b6;"></td>
                  <td></td>
                </tr>
                <tr>
                  <td> </td>
                  <td valign="top">
                    <p style="font-size:12px;margin:5px 0 10px 0;text-align:left;"><font face="'Arial', Arial, Helvetica, sans-serif">{{ extras.membership.label }}</font></p>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td valign="top">
                    <p style="font-size:10px;margin:10px 0 10px 0;font-weight:bold;text-align:center;"><font face="'Arial', Arial, Helvetica, sans-serif">{{ extras.membership.amount | format_as_money }}</font></p>
                  </td>
                  <td> </td>
                </tr>
              </tr>
            {% endif %}

            {% assign convenience_charges = payment.convenience_charges | plus:0 %}
            {% if convenience_charges > 0 %}
              <tr>
                <td> </td>
                <td/>
                <td colspan="3" align="right">
                  <p style="color:#4a4a4a;font-size:11px;margin:10px 0 10px 0;font-weight:bold;"><font face="'Arial', Arial, Helvetica, sans-serif">{{CONVENIENCE_FEES_LABEL}} Rs.<br/>({{CONVENIENCE_FEES_SHORT_DESCRIPTION}})</font></p>
                </td>
                <td align="top">
                  <p style="color:#4a4a4a;font-size:12px;margin:10px 0 10px 0;font-weight:bold;text-align:center;"><font face="'Arial', Arial, Helvetica, sans-serif">{{payment.convenience_charges | format_as_money }}</font></p>
                </td>
                <td> </td>
              </tr>
            {% endif %}

            {% assign credit_amount = payment.credit_amount | plus:0 %}
            {% if credit_amount > 0 %}
              <tr>
                <td> </td>
                <td/>
                <td colspan="3" align="right">
                  <p style="color:#4a4a4a;font-size:11px;margin:10px 0 10px 0;font-weight:bold;"><font face="'Arial', Arial, Helvetica, sans-serif">Ample Credits Rs.</font></p>
                </td>
                <td align="top">
                  <p style="color:#4a4a4a;font-size:12px;margin:10px 0 10px 0;font-weight:bold;text-align:center;"><font face="'Arial', Arial, Helvetica, sans-serif">{{payment.credit_amount | format_as_money }}</font></p>
                </td>
                <td> </td>
              </tr>
            {% endif %}

            <tr>
              <td> </td>
              <td/>
              <td colspan="3" align="right">
                <p style="color:#4a4a4a;font-size:11px;margin:10px 0 10px 0;font-weight:bold;"><font face="'Arial', Arial, Helvetica, sans-serif">Grand Total Rs.<br/>(inclusive of all taxes)</font></p>
              </td>
              <td align="top" style="border-top:1px solid #b6b6b6;">
                <p style="color:#4a4a4a;font-size:12px;margin:10px 0 10px 0;font-weight:bold; text-align:center; vertical-align:top;"><font face="'Arial', Arial, Helvetica, sans-serif">{{payment.net_total | format_as_money }}</font></p>
              </td>
              <td> </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr bgcolor="#E0E0E0">
        <td height="2"/>
      </tr>
      <!-- To be used when unsubscription funcationality is available
        <tr bgcolor="#ffffff">
          <td align="center">
              <p style="font-size:12px;margin:10px;color:#9b9b9b;line-height:18px;"><font face="'Arial', Arial, Helvetica, sans-serif">We hope you enjoy receiving our news and special offer emails from <a href="http://www.buyample.com" target="_blank" title="" style="color:#da3f58;text-decoration:none;">www.buyample.com</a>, but if you would prefer not to receive these emails please click <a href="http://www.buyample.com" target="_blank" title="" style="color:#da3f58;text-decoration:none;">unsubscribe</a></font></p>
            </td>
        </tr>
        <tr bgcolor="#E0E0E0">
          <td height="5"/>
        </tr>
        -->
      <!-- <tr bgcolor="#ffffff">
        <td height="10"/>
      </tr> -->
      <tr bgcolor="#ffffff">
        <td valign="top">
          <table class="deviceWidth" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse">
            <tr bgcolor="#ffffff">
              <td height="10" colspan="2"/>
            </tr>
            <tr>
              <td colspan="1" align="left" style="text-align: left;">
                <p style="font-size:12px;margin:0 10px;color:#9b9b9b;line-height:18px;"><font face="'Arial', Arial, Helvetica, sans-serif">For any queries, contact us at<br/><a href="mailto:customerfirst@buyample.com" title="" style="color:#da3f58;text-decoration:none;">customerfirst@buyample.com</a></font></p>
                <p style="font-size:12px;margin:0 10px;color:#9b9b9b;line-height:18px;"><font face="'Arial', Arial, Helvetica, sans-serif">Returns & Refund Policy are as shown on<br/><a href="http://www.buyample.com/refund" title="" style="color:#da3f58;text-decoration:none;">www.buyample.com/refund</a></font></p>
              </td>

              <td colspan="1" align="right">
                <p style="font-size:12px;line-height:18px;color:#9b9b9b;text-align:right;margin:5px 15px 5px 15px;"><font face="'Arial', Arial, Helvetica, sans-serif">{{ SELLER_NAME }}<br/>{{ SELLER_ADDRESS_LINE_1 }}<br/>{{ SELLER_ADDRESS_LINE_2 }}</font></p>
                <p style="font-size:12px;line-height:18px;color:#000000;text-align:right;margin:5px 15px 5px 15px;"><font face="'Arial', Arial, Helvetica, sans-serif"><b style="font-weight: bold;">VAT-TIN: </b>
                  {{ TIN_VAT_NUMBER }}
                  </font>
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr bgcolor="#ffffff">
        <td height="10"/>
      </tr>
      <tr bgcolor="#E0E0E0">
        <td height="2"/>
      </tr>
      <tr bgcolor="#ebebeb">
        <td height="5"/>
      </tr>
      <tr bgcolor="#ebebeb">
        <td bgcolor="#ebebeb" align="center">
          <table align="center" width="80" style="border-collapse: collapse">
            <tr>
              <td>
                <a href="{{ TWITTER_URL }}"><img src='{{ TWITTER_PURPLE_ICON }}' alt="" title=""/></a>
              </td>
              <td width="10"> </td>
              <td>
                <a href="{{ FACEBOOK_URL }}"><img src='{{ FACEBOOK_PURPLE_ICON }}' alt="" title=""/></a>
              </td>
              <td width="10"> </td>
              <td>
                <a href="{{ INSTAGRAM_URL }}"><img src='{{ INSTAGRAM_PURPLE_ICON }}' alt="" title=""/></a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr bgcolor="#ebebeb">
        <td height="5"/>
      </tr>
    </table>
  </body>
</html>
