<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Purchase Order</title>
  </head>
  <body style="-webkit-text-size-adjust: none;background-color: #ffffff;width: 100%;-webkit-font-smoothing: antialiased;font-family: &quot;Arial&quot;, sans-serif">
    <p> Hi,</p>
    <p>  PFA dump of verified purchase order in last 24 hrs. </p>
    <p> Thanks </p>
    <p>---------------------------------------------------------------------------------------------------</p>
    <p> It's a system generated mail, please do not reply </p>
  </body>
</html>