<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Buy Ample</title>
  </head>
  <body style="margin: 0;padding: 0;-webkit-text-size-adjust: none;background-color: #E0E0E0;width: 100%;-webkit-font-smoothing: antialiased;font-family: &quot;Arial&quot;, sans-serif">
  <table width="640" bgcolor="#E0E0E0" border="0" class="deviceWidth" align="center" cellpadding="0" cellspacing="0" style="border: 1px solid #e0e0e0;font-family: &quot;Arial&quot;, sans-serif;font-weight: 300;color: #575757;font-size: 14px;border-collapse: collapse">
      <tr bgcolor="#2a2f76">
          <td bgcolor="#2a2f76" align="center">
              <a target="_blank" class="center" href="http://www.buyample.com" style="margin:10px 0 0 0;display:block;">
                  <img src='{{ AMPLE_SQUARE_LOGO }}' alt="Ample" title="Ample" style="border:none;"/>
              </a>
          </td>
      </tr>
      <tr bgcolor="#E0E0E0">
        <td height="10"/>
      </tr>
      <tr bgcolor="#ffffff">
        <td height="75"/>
      </tr>
      <tr bgcolor="#ffffff">
          <td align="center">
            <img src='{{ AMPLE_MEMBERSHIP_IMAGE }}' alt="Ample" title=""/>
          </td>
      </tr>
      <tr bgcolor="#ffffff">
        <td height="40"/>
      </tr>
      <tr bgcolor="#ffffff">
        <td align="center">
            <h1 style="color:#2a2f76;font-size:42px;font-weight:700;margin:0 0 5px 0;text-align:center;text-transform:uppercase;"><font face="'Arial', Arial, Helvetica, sans-serif">Welcome</font></h1>
            <h3 style="color:#2a2f76;font-size:14px;font-weight:600;margin:0;text-align:center;text-transform:uppercase;"><font face="'Arial', Arial, Helvetica, sans-serif">To India's First Shopping Club</font></h3>
          </td>
      </tr>
      <tr bgcolor="#ffffff">
        <td height="25"/>
      </tr>
      <tr bgcolor="#E0E0E0">
        <td height="10"/>
      </tr>
      <tr bgcolor="#ffffff">
        <td align="center">
            <table align="left" width="100%" cellpadding="0" cellspacing="0" border="0" class="deviceWidth" style="border-collapse: collapse">
                <tr>
                    <td height="10"/>
                  </tr>
                  <tr>
                    <td style="text-align:center;">
                  <p style="font-size:12px;line-height:16px;color:#4a4a4a;text-align:center;margin:10px;"><font face="'Arial', Arial, Helvetica, sans-serif">Hi {{ to_first_name}} {{ to_last_name }}. Please verify your email to continue receiving your order invoices. We might use this email for other communication purposes too. But we promise not to spam you. Your Ample Sample Membership has been subscribed which will be activated on placing first order, it will expire in 3 months or after completing 3 orders, whichever comes first</font></p>
                      </td>
                  </tr>
                  <tr>
                    <td height="10"/>
                  </tr>
                  <tr>
                    <td colspan="3" align="center">
                        <a href='{{ api_url }}' style="background-color:#da3f58;color:#fff;line-height:42px;font-size:18px;text-transform:uppercase;border:1px solid #da3f58;border-radius:2px;text-decoration:none;display:inline-block;height:42px;width:280px;mso-line-height-rule:exactly;">Verify Your Email</a>
                      </td>
                  </tr>
                  <tr>
                    <td colspan="3" height="5"/>
                  </tr>
                  <tr>
                    <td colspan="3" height="10" align="center"><p style="font-size:10px;margin:0;color:#9b9b9b;"><font face="'Arial', Arial, Helvetica, sans-serif">By clicking this button, you agree with <a href="http://www.buyample.com/terms.html" target="_blank" title="" style="color:#da3f58;text-decoration:none;">Terms &amp; Conditions</a>, <a href="http://buyample.com/privacy.html" target="_blank" title="" style="color:#da3f58;text-decoration:none;">Privacy policy</a> of <a href="http://www.buyample.com" target="_blank" title="" style="color:#da3f58;text-decoration:none;">www.buyample.com</a></font></p></td>
                  </tr>
                  <tr>
                    <td colspan="3" height="25"/>
                  </tr>
              </table>
          </td>
      </tr>
      <!-- To be used when we have option to make the user unsubscribe
      <tr bgcolor="#E0E0E0">
        <td height="10"/>
      </tr>
      <tr bgcolor="#ffffff">
        <td align="center">
            <p style="font-size:12px;margin:10px;color:#9b9b9b;line-height:18px;"><font face="'Arial', Arial, Helvetica, sans-serif">We hope you enjoy receiving our news and special offer emails from <a href="http://www.buyample.com" target="_blank" title="" style="color:#da3f58;text-decoration:none;">www.buyample.com</a>, but if you would prefer not to receive these emails please click <a href="http://www.buyample.com" target="_blank" title="" style="color:#da3f58;text-decoration:none;">unsubscribe</a></font></p>
          </td>
      </tr>
    -->
      <tr bgcolor="#E0E0E0">
        <td height="5"/>
      </tr>
      <tr bgcolor="#ffffff">
        <td height="10"/>
      </tr>
      <tr bgcolor="#ffffff">
        <td align="center">
            <p style="font-size:12px;margin:0 10px;color:#9b9b9b;line-height:18px;"><font face="'Arial', Arial, Helvetica, sans-serif"><a href="http://www.buyample.com" style="color:#9b9b9b; text-decoration:none;" title="" target="_blank">www.buyample.com</a> is a trademark of Imli Technology Pvt Ltd. All rights Reserved. 2015</font></p>
            <p style="font-size:12px;margin:0 10px;color:#9b9b9b;line-height:18px;"><font face="'Arial', Arial, Helvetica, sans-serif">For any queries, contact us at <a href="mailto:customerfirst@buyample.com" title="" style="color:#da3f58;text-decoration:none;">customerfirst@buyample.com</a></font></p>
          </td>
      </tr>
      <tr bgcolor="#ffffff">
        <td height="10"/>
      </tr>
      <tr bgcolor="#E0E0E0">
        <td height="10"/>
      </tr>
      <tr bgcolor="#2a2f76">
        <td height="10"/>
      </tr>
      <tr bgcolor="#2a2f76">
          <td bgcolor="#2a2f76" align="center">
            <table align="center" width="80" style="border-collapse: collapse">
                <tr>
                    <td>
                  <a href="{{ TWITTER_URL }}"><img src='{{ TWITTER_ICON }}' alt="" title=""/></a>
                      </td>
                      <td width="10"> </td>
                      <td>
                  <a href="{{ FACEBOOK_URL }}"><img src='{{ FACEBOOK_ICON }}' alt="" title=""/></a>
                      </td>
                      <td width="10"> </td>
                      <td>
                  <a href="{{ INSTAGRAM_URL }}"><img src='{{ INSTAGRAM_ICON }}' alt="" title=""/></a>
                      </td>
                  </tr>
              </table>
          </td>
      </tr>
      <tr bgcolor="#2a2f76">
        <td height="10"/>
      </tr>
  </table>
  </body>
</html>
