<!DOCTYPE html>
{% comment %}
This Liquid Template is for redering dispatch list template for orders
{% endcomment %}
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1 style="font-style: normal; font-weight: 200; font-family: lato,tahoma,sans-serif; margin-bottom: 0px; margin-top: 0px; font-size: 24px; line-height: 32px; color: #000000; text-align: left;">Dispatch List </h1>
    </br>
    <table border="1" style="font-size: 12px;color: #000000;width: 640px;border-width: 1px;border-color: #000000;border-collapse: collapse">
      <tr style="background-color: #ffffff">
        <th style="font-size: 12px;background-color: #ffffff;border-width: 1px;padding: 8px;border-style: solid;border-color: #000000;text-align: left">Sr.no.</th>
        <th style="font-size: 12px;background-color: #ffffff;border-width: 1px;padding: 8px;border-style: solid;border-color: #000000;text-align: left">Order ID</th>
        <th style="font-size: 12px;background-color: #ffffff;border-width: 1px;padding: 8px;border-style: solid;border-color: #000000;text-align: left">Slot Details</th>
        <th style="font-size: 12px;background-color: #ffffff;border-width: 1px;padding: 8px;border-style: solid;border-color: #000000;text-align: left">User Address</th>
        <th style="font-size: 12px;background-color: #ffffff;border-width: 1px;padding: 8px;border-style: solid;border-color: #000000;text-align: left">User Info</th>
        <th style="font-size: 12px;background-color: #ffffff;border-width: 1px;padding: 8px;border-style: solid;border-color: #000000;text-align: left">Receivers Name & Signature</th>
      </tr>
      {% comment %}
      Looping over the orders array to fetch required fields
      {% endcomment %}
      {% for order in orders %}
        <tr style="background-color: #ffffff">
          <td width="5" style="font-size: 12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #000000"><b>{{ forloop.index }}</b>
          </td>
          <td width="10" style="font-size: 12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #000000"><b>{{ order.order_id }}</b>
          </td>
          <td width="10" style="font-size: 12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #000000"><b>{{ order.preferred_slot.slot_date_label }} {{order.preferred_slot.time_slot.label }}</b>
          </td>
          <td width="10" style="font-size: 12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #000000"><b>{{ order.address_string }}</b>
          </td>
          <td width="10" style="font-size: 12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #000000"><b>{{ order.user.first_name }} {{order.user.last_name}} <br/> {{order.user.phone_number}}</b>
          </td>
          <td>   </td>

      {% endfor %}
    </table>
    <table style="font-size: 12px;color: #000000;width: 640px;">
      <tr>
        <td style="text-align:left;">
          <br/><br/><br/><br/><br/>
          <p><b>_______________________________</b></p>
          <p><b><i>Delivery Boy Name & Signature</i></b></b>
        </td>
        <td style="text-align:right;">
          <br/><br/><br/><br/><br/>
          <p><b>_______________________________</b></p>
          <p><b><i>Supervisor Name & Signature</i></b></b>
        </td>
      </tr>
    </table>
  </body>
</html>
