<!DOCTYPE html>
{% comment %}
This Liquid Template is for redering mailing template for single order packing by packer
{% endcomment %}
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1 style="font-style: normal; font-weight: 200; font-family: lato,tahoma,sans-serif; margin-bottom: 0px; margin-top: 0px; font-size: 24px; line-height: 32px; color: #000000; text-align: left;">Order Packing for Order ID: {{ order_id }}</h1>
    </br>
    <table border="1" style="font-size: 12px;color: #000000;width: 640px;border-width: 1px;border-color: #000000;border-collapse: collapse">
      <tr style="background-color: #ffffff">
        <th style="font-size: 12px;background-color: #ffffff;border-width: 1px;padding: 8px;border-style: solid;border-color: #000000;text-align: left">Sr.no.</th>
        <th style="font-size: 12px;background-color: #ffffff;border-width: 1px;padding: 8px;border-style: solid;border-color: #000000;text-align: left">BP Code</th>
        <th style="font-size: 12px;background-color: #ffffff;border-width: 1px;padding: 8px;border-style: solid;border-color: #000000;text-align: left">Name</th>
        <th style="font-size: 12px;background-color: #ffffff;border-width: 1px;padding: 8px;border-style: solid;border-color: #000000;text-align: left">MRP</th>
        <th style="font-size: 12px;background-color: #ffffff;border-width: 1px;padding: 8px;border-style: solid;border-color: #000000;text-align: left">Pack Size</th>
        <th style="font-size: 12px;background-color: #ffffff;border-width: 1px;padding: 8px;border-style: solid;border-color: #000000;text-align: left">Total required</th>
      </tr>
      {% comment %}
      Looping over the products array to fetch the fields
      {% endcomment %}
      {% for product in products %}
        <tr style="background-color: #ffffff">
          <td width="5" style="font-size: 12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #000000"><b>{{ forloop.index }}</b>
          </td>
          <td width="10" style="font-size: 12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #000000"><b>{{ product.brand_pack_code }}</b>
          </td>
          <td width="200" style="font-size: 12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #000000"><b>{{ product.display_name }}</b>
          </td>
          <td width="10" style="font-size: 12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #000000"><b>Rs.{{ product.mrp }}</b>
          </td>
          {% assign product_retail_pack_size = product.retail_pack_size | plus: 0 %}
          {% if product_retail_pack_size > 1 %}
            <td width="50" style="font-size: 12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #000000">
              <b>{{product.retail_pack_size}} x {{ product.sku_size }} {{ product.unit }}</b>
            </td>
          {% else %}
            <td width="50" style="font-size: 12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #000000">
              <b>{{ product.sku_size }} {{ product.unit }}</b>
            </td>
          {% endif %}
          <td width="10" style="font-size: 12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #000000"><b>{{ product.units_to_procure }}</b>
          </td>
        </tr>
      {% endfor %}
    </table>
    <table style="font-size: 12px;color: #000000;width: 640px;">
      <tr>
        <td style="text-align:left;">
          <br/><br/><br/><br/><br/>
          <p><b>_______________________________</b></p>
          <p><b><i>PICKER Name & Signature</i></b></b>
        </td>
        <td style="text-align:right;">
          <br/><br/><br/><br/><br/>
          <p><b>_______________________________</b></p>
          <p><b><i>PACKER Name & Signature</i></b></b>
        </td>
      </tr>
    </table>
  </body>
</html>
